<html>
  <head>
    <script src="script/angular.min.js"></script>
    <script src="script/levenshtein.js"></script>
    <script src="script/app.js"></script>
    <link href="style/theme.css" rel="stylesheet">
    <title>Twittoriety</title>
  </head>

  <body>
    <div ng-app="twittoriety" ng-controller="InputController">
      <div id="header">
          <div class="head"><a href="index.html">Twittoriety</a></div>
          <div class="slogan">Making you feel bad about your followers</div>
      </div>
      {{similarity}}
      <div id="form">
        <div class="textfield">
          <textarea placeholder="Type your tweet..." maxlength="140" ng-model="userInput"></textarea>
        </div>
        <div id="butchar">
          <div id="button"><input type="submit" ng-click="submit()"></input></div>
          <div id="remaining-characters"> {{140 - userInput.length}} </div>
        </div>
        <div class="tweettext">
          <div ng-show="matchedTweet">
            <textarea readonly="true" placeholder="Your closest tweet is..." maxlength="140">"{{matchedTweet.text}}" by {{matchedTweet.screen_name}} with {{matchedTweet.retweets}} retweets and {{matchedTweet.favourites}} favourites
            </textarea>
          </div>
        </div>
    </div>
  </body>
</html>
