body {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f2f2f2;
}

div#header {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(1ad1ff, 00b8e6);
  border-radius: 5px;
  box-shadow: 0px 1px 0px #000, inset 0px 1px 0px #99ebff;

}

div#header div.head a:link {
  text-decoration: none;
  color: #000;
  opacity: 0.4;
  text-shadow: 0px 1px 0px #fff;
  letter-spacing: -4px;
  font-size: 3.6em;
  font-weight: bold;
  font-family: sans-serif;
  transition: 0.5s;
}

div#header div.head a:visited {
  text-decoration: none;
  color: #000;
  opacity: 0.4;
  text-shadow: 0px 1px 0px #fff;
  letter-spacing: -4px;
  font-size: 3.6em;
  font-weight: bold;
  font-family: sans-serif;
  transition: 0.5s;
}

div#header div.head a:hover {
  text-decoration: none;
  color: #000;
  opacity: 0.6;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 1px 0px #fff;
  letter-spacing: -4px;
  font-size: 3.6em;
  font-weight: bold;
  font-family: sans-serif;
  transition: 0.5s;
}

div#header div.slogan {
  text-align: center;
  color: #fff;
  text-shadow: 0px 1px 0px #000;
  font-family: sans-serif;
  font-size: 1.0em;
}

div#form {
  padding-top: 15px;
  word-wrap: break-word;
  word-break: normal;
}

div#butchar {
  display: relative;
}

div#remaining-characters {
  font-size: 20px;
  font-weight: bold;
  float: right;
  font-family: sans-serif;
  color: 000;
  opacity: 0.6;
  padding: 5px;
}

input[type="submit"] {
  cursor: pointer;
  background: linear-gradient(1ad1ff, 00b8e6);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #99ebff;
  position: fixed;
  font-family: sans-serif;
  font-weight: bold;
  color: #0099cc;
  text-shadow: 0px 1px 0px #66e0ff;
  font-size: 16px;
  padding: 4px;
  transition: 0.5s;
  border: 1px;
}

input[type="submit"]:hover {
  text-decoration:none;
  cursor: pointer;
  background: linear-gradient(99ebff, 66e0ff);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #99ebff;
  position: fixed;
  font-family: sans-serif;
  font-weight: bold;
  color: #1ac6ff;
  text-shadow: 0px 1px 0px #66e0ff;
  font-size: 16px;
  padding: 4px;
  transition: 0.5s;
}

input[type="submit"]:active {
  text-decoration:none;
  cursor: pointer;
  background: linear-gradient(00a3cc, 007a99);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #000;
  position: fixed;
  font-family: sans-serif;
  font-weight: bold;
  color: #005266;
  text-shadow: 0px 1px 0px #fff;
  font-size: 16px;
  padding: 4px;
  transition: 0.5s;
}

textarea {
    display: inline-block;
    width: 450px;
    height: 100px;
    hyphens: auto;
    margin: 0;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    padding: 10px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
    resize: none;
  }

  div#banter {
      display: inline-block;
      width: 450px;
      height: 100px;
      hyphens: auto;
      margin: 0;
      font-family: sans-serif;
      font-size: 18px;
      appearance: none;
      box-shadow: none;
      border-radius: none;
      padding: 10px;
      border: solid 5px #c9c9c9;
      transition: border 0.3s;
      resize: none;
    }

div#tweettext div.retweet {
  background: linear-gradient(1ad1ff, 00b8e6);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #99ebff;
  position: fixed;
  font-family: sans-serif;
  font-weight: bold;
  color: #0099cc;
  text-shadow: 0px 1px 0px #66e0ff;
  font-size: 18px;
  padding: 4px;
  transition: 0.5s;
  border: 1px;
}

textarea:focus,
textarea.focus {
  outline: none;
  border: solid 5px #969696;
}

blockquote.twitter-tweet {
  text-align: center;
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}
